.row{
    margin-left: 20px;
    margin-bottom: 20px;
    ::-webkit-scrollbar{
        display: none;
    }
}
.movie-row{
    display: flex;
    overflow-x: scroll;
    margin-top: 30px;
}
.movie{
    height: 250px;
    width: 200px;
    margin-right: 20px;
    transition: 460ms;
}
.movie:hover{
    transform: scale(1.06);
}